<h1>PORTFOLIO ITEMS</h1>

<a href="/portfolios/new">Create New Item</a>

<%= link_to "Create new item", new_portfolio_path %>

<p><%= new_portfolio_url %></p>
<p><%= new_portfolio_path %></p>

<% @portfolio_items.each do |item| %>
  <p><h3><%= link_to item.title, portfolio_path(item.id) %></h3></p>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <p>
    <%= image_tag item.thumb_image unless item.thumb_image.nil? %>
  </p>
  <p>
    <%= link_to "Edit", edit_portfolio_path(item.id)  %>
    <a href="/portfolios/<%= item.id %>/edit">Change</a>  
  </p>

  <hr>
<% end %>